body {
  margin: 0;
  font-family: 'roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font: inherit;
  font-size: 4rem;
  /* font-weight: 100; */
  /* color: white */
}

h3, h4 {
  font: inherit;
}

.input-field {
  border: none;
  border-bottom:0.15rem solid black ;
  width: 20rem;
  background: none;
  height: 3rem;
}

.name-page-button {
  padding: 0.5rem 1.5rem;
  background-color: black;
  color: white;
  border-radius: 0.25rem;
  border: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5ms;
}

.name-page-button:hover {
  padding: 0.6rem 1.6rem;
}

.input-field:focus {
  outline: none;
  font-size: 3rem;
}
